@charset "UTF-8";
@font-face {
  font-family: "monument-extended";
  src: url("../fonts/monument-extended-medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "inter";
  src: url("../fonts/Inter-Medium.otf") format("opentype");
  font-display: swap;
}
body {
  background: rgb(2, 8, 14) !important;
}

.header {
  height: auto;
  background-image: url("../images/bg-hero.webp") !important;
  background-size: 100%;
  background-repeat: no-repeat;
}
.header .navbar .navbar-brand {
  margin: 0 auto !important;
}
.header .navbar .navbar-brand img {
  width: 130px;
  image-rendering: -webkit-optimize-contrast; /* Para navegadores baseados em WebKit */
  image-rendering: crisp-edges; /* Para outros navegadores */
}
@media (min-width: 992px) {
  .header .navbar .navbar-brand img {
    width: 210px;
    height: 61px;
  }
}
@media (min-width: 992px) {
  .header .navbar .navbar-brand {
    margin: initial !important;
  }
}
.header .navbar .navbar-items {
  display: none;
}
@media (min-width: 992px) {
  .header .navbar .navbar-items {
    width: 401px;
    height: 61px;
    border-radius: 999px;
    border: 1px;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
  }
}
.header .navbar .navbar-items a:nth-child(1) {
  width: 155px;
  height: 45px;
  border-radius: 8.69px;
  display: block;
  padding: 16px 24px 16px 24px;
  font-family: "monument-extended";
  font-size: 11.5px;
  line-height: 12.61px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}
.header .navbar .navbar-items a:nth-child(2) {
  width: 225px;
  height: 45px;
  border-radius: 32px;
  display: block;
  padding: 16px 24px 16px 24px;
  background-color: rgb(0, 117, 255);
  box-shadow: 0px 22.07px 61.43px -19px rgba(57, 101, 255, 0.6);
  font-size: 11.5px;
  color: rgb(255, 255, 255);
  font-family: "monument-extended";
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: transform 0.5s; /* Corrigido para aplicar a transição */
}
.header .navbar .navbar-items a:nth-child(2):hover {
  transform: scale(1.1); /* Corrigido para aplicar o scale no hover */
}
.header .boas-vindas {
  margin-top: 50px;
}
@media (min-width: 992px) {
  .header .boas-vindas {
    margin-top: 100px;
  }
}
.header .boas-vindas h1 {
  width: 100%;
  font-family: "monument-extended";
  font-size: 30px;
  text-align: center;
  line-height: 40px !important;
  background: linear-gradient(92.21deg, #FFFFFF 41.1%, rgba(255, 255, 255, 0) 106.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 992px) {
  .header .boas-vindas h1 {
    width: 1042.28px;
    font-size: 44.99px;
    line-height: 50px !important;
  }
}
.header .boas-vindas p {
  width: auto;
  font-family: "inter";
  font-size: 15px;
  text-align: center;
  line-height: 24px;
  color: rgb(166, 170, 178);
}
@media (min-width: 992px) {
  .header .boas-vindas p {
    width: 818px;
    height: 72px;
  }
}
.header .boas-vindas a {
  border-radius: 46px;
  padding: 20px 48px 20px 48px;
  gap: 11px;
  background: rgb(10, 124, 255);
  box-shadow: 0px 16px 32px -8px rgba(10, 124, 255, 0.48), 0px 4px 8px 0px rgba(10, 124, 255, 0.12), 0px 2px 6px 0px rgba(10, 124, 255, 0.24), 0px 1px 3px 0px rgba(10, 124, 255, 0.24), 1px 1px 2px 0px rgba(255, 255, 255, 0.24) inset;
  color: rgb(255, 255, 255);
  font-family: "monument-extended";
  text-decoration: none;
  text-align: center;
}
.header .boas-vindas a img {
  width: 24px;
  margin-top: -3px;
}
@media (min-width: 992px) {
  .header .boas-vindas a {
    width: 541.9px;
    height: 57.06px;
    transition: transform 0.5s; /* Corrigido para aplicar a transição */
  }
  .header .boas-vindas a:hover {
    transform: scale(1.1); /* Corrigido para aplicar o scale no hover */
  }
}
.header .fim-header {
  width: 100%;
  background: linear-gradient(0deg, #030C14 5.29%, rgba(3, 12, 20, 0) 100%);
  margin-top: 140px;
  position: relative;
}
.header .fim-header img {
  width: 100%;
  display: block;
  margin: 0 auto !important;
  position: relative;
  z-index: -1;
}
@media (min-width: 992px) {
  .header .fim-header img {
    width: 800px;
  }
}
.header .fim-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  z-index: 0;
}
@media (min-width: 992px) {
  .header .fim-header::before {
    width: 800px;
  }
}

.bloco-vantagens {
  width: 100% !important;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto !important;
}
@media (min-width: 992px) {
  .bloco-vantagens {
    width: 1000px !important;
  }
}
.bloco-vantagens .bloco01 {
  width: 100% !important;
  height: 280px;
  position: relative;
  background-color: rgb(7, 22, 36);
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
@media (min-width: 992px) {
  .bloco-vantagens .bloco01 {
    width: 400px !important;
    border-radius: 0;
    border-top-left-radius: 31.9px;
    border-top-right-radius: 31.9px;
  }
}
@media (min-width: 992px) {
  .bloco-vantagens .bloco01::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: transparent;
    bottom: 25px;
    right: -75px;
    height: 50px;
    width: 100px;
    border-top-right-radius: 25px;
    box-shadow: 0 -25px 0 0 rgb(7, 22, 36);
    transform: scaleX(-1) rotate(90deg); /* Gira o elemento 90 graus e inverte horizontalmente */
  }
}
.bloco-vantagens .bloco01 h1 {
  width: 100% !important;
  font-family: "monument-extended";
  font-size: 25px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding-top: 50px !important;
}
@media (min-width: 992px) {
  .bloco-vantagens .bloco01 h1 {
    width: 300px !important;
    height: 117px !important;
    margin-bottom: 50px;
  }
}
.bloco-vantagens .bloco01 a {
  width: 100%;
  padding: 15px 70px 15px 70px;
  font-family: "monument-extended";
  font-size: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: rgb(0, 117, 255);
  display: flex;
  justify-content: center;
  border-radius: 32px;
  box-shadow: 0px 22.07px 61.43px -19px rgba(57, 101, 255, 0.6);
}
@media (min-width: 992px) {
  .bloco-vantagens .bloco01 a {
    width: 332px;
    font-size: 14px;
    transition: transform 0.5s; /* Corrigido para aplicar a transição */
  }
  .bloco-vantagens .bloco01 a:hover {
    transform: scale(1.1); /* Corrigido para aplicar o scale no hover */
  }
}
.bloco-vantagens .bloco02 {
  width: 100%;
  margin-top: 20px;
}
@media (min-width: 992px) {
  .bloco-vantagens .bloco02 {
    width: 495px !important;
    height: 259px;
    margin-left: 453px;
    margin-top: -280px;
  }
}
.bloco-vantagens .bloco03 {
  width: 100% !important;
  height: auto;
  background-color: rgb(7, 22, 36);
  border-radius: 20px;
  margin-top: 21px;
  display: flex;
  flex-wrap: wrap !important;
  gap: 15px;
  padding: 40px;
}
@media (min-width: 992px) {
  .bloco-vantagens .bloco03 {
    width: 950px !important;
    height: 500px;
    margin-top: 0;
    flex-wrap: nowrap !important;
    gap: 100px;
    border-radius: 0;
    border-top-right-radius: 31.9px;
    border-bottom-left-radius: 31.9px;
    border-bottom-right-radius: 31.9px;
  }
}
.bloco-vantagens .bloco03 .card {
  width: 100%;
}
@media (min-width: 992px) {
  .bloco-vantagens .bloco03 .card {
    width: 248px;
  }
}
.bloco-vantagens .bloco03 .card img {
  width: 127.59px;
  height: 44.87px;
}
.bloco-vantagens .bloco03 .card h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "monument-extended";
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.bloco-vantagens .bloco03 .card p {
  font-family: "inter";
  font-size: 13px;
  color: rgb(165, 195, 255);
}
.bloco-vantagens .link {
  width: 100%;
  border-radius: 32px;
  margin-top: 15px;
  padding: 15px 70px 15px 70px;
  background: rgb(0, 117, 255);
  box-shadow: 0px 22.07px 61.43px -19px rgba(57, 101, 255, 0.6);
  font-family: "monument-extended";
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: transform 0.5s; /* Corrigido para aplicar a transição */
}
@media (min-width: 992px) {
  .bloco-vantagens .link {
    width: 604px !important;
    margin-top: -25px;
    font-size: 14px;
    transition: transform 0.5s; /* Corrigido para aplicar a transição */
  }
  .bloco-vantagens .link:hover {
    transform: scale(1.1); /* Corrigido para aplicar o scale no hover */
  }
}

.bloco-plataforma {
  width: 100%;
  height: auto;
  background-image: url("../images/Rectangle-259.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: 100px;
}
.bloco-plataforma img {
  width: 100%;
  display: block;
  margin: 0 auto !important;
}
@media (min-width: 992px) {
  .bloco-plataforma img {
    width: 700px;
  }
}
.bloco-plataforma a {
  width: 100%;
  border-radius: 32px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px 70px 15px 70px;
  background: rgb(0, 117, 255);
  box-shadow: 0px 22.07px 61.43px -19px rgba(57, 101, 255, 0.6);
  font-family: "monument-extended";
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
@media (min-width: 992px) {
  .bloco-plataforma a {
    width: 682px;
    height: 45px;
    font-size: 14px;
    transition: transform 0.5s; /* Corrigido para aplicar a transição */
  }
  .bloco-plataforma a:hover {
    transform: scale(1.1); /* Corrigido para aplicar o scale no hover */
  }
}

.bloco-duvidas {
  margin-top: 50px;
}
.bloco-duvidas h1 {
  text-align: center;
  font-family: "monument-extended";
  font-size: 36px;
  color: rgb(255, 255, 255);
}

.bloco-details details {
  border-radius: 120px;
  background-color: rgb(7, 22, 36) !important;
  margin-bottom: 20px;
  transition: border-radius 0.1s ease, background-color 0.1s ease;
}
.bloco-details details summary {
  display: flex;
  gap: 11px;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 10px;
  list-style: none !important;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: rgb(255, 255, 255);
  list-style: none !important; /* Remove o estilo da lista */
}
.bloco-details details summary::marker {
  color: rgb(7, 22, 36);
}
.bloco-details details summary::-webkit-details-marker {
  color: rgb(7, 22, 36);
}
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .bloco-details details summary::-webkit-details-marker {
      display: none; /* Oculta o ícone do summary no Safari */
    }
  }
}
.bloco-details details summary img {
  width: 50px;
}
.bloco-details details[open] {
  border-radius: 30px !important;
}
.bloco-details details p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: rgb(165, 195, 255);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

footer {
  height: auto;
  background-image: url("../images/bg-footer.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
footer .bloco01 img {
  width: 186.38px;
  height: 52.55px;
  padding: 0px 0.38px 0px 0.38px;
}
footer .bloco01 p {
  margin-top: 15px;
  font-family: inter;
  font-size: 14px;
  color: rgb(165, 195, 255);
}
footer .bloco-links h1 {
  font-family: inter;
  font-style: bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
footer .bloco-links .links {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .bloco-links .links a {
  height: 18px;
  font-family: "inter";
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease; /* Adiciona transições suaves */
}
footer .bloco-links .links a:hover {
  transform: scale(1.1); /* Aumenta o tamanho em 10% */
  color: #32ABF7; /* Muda a cor do texto */
}
footer .bloco-contato h1 {
  font-family: inter;
  font-style: bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
footer .bloco-contato span {
  height: 18px;
  font-family: "inter";
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: nowrap; /* Impede a quebra de linha */
  overflow: hidden; /* Oculta o texto que ultrapassa o contêiner */
  text-overflow: ellipsis; /* Adiciona reticências ao texto truncado */
}
footer .bloco-contato div {
  margin-top: 20px;
  display: flex;
  gap: 11px;
}
footer .bloco-contato div a {
  width: 30px;
  height: 44px;
  border-radius: 4.3px;
  color: rgb(165, 195, 255);
}
footer .bloco-contato div a:hover {
  color: #32ABF7;
  transform: scale(1.1) rotate(5deg); /* Adiciona escala e rotação */
  transition: transform 0.5s ease; /* Suaviza a transição */
}
footer .creditos-finais {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: "inter";
  font-size: 12px;
  text-align: center;
  color: rgb(165, 195, 255);
  opacity: 0.5;
}/*# sourceMappingURL=main.css.map */