.bloco-vantagens{
    width: 100% !important;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto !important;
    @include lg{
        width: 1000px !important;
    }
    .bloco01{
        width: 100% !important;
        height: 280px;
        position: relative;
        background-color: rgba(7, 22, 36, 1);
        border-radius: 20px;
        padding-left: 40px;
        padding-right: 40px;
        @include lg{
            width: 400px !important;
            border-radius: 0;
            border-top-left-radius: 31.9px;
            border-top-right-radius: 31.9px;
        }
        @include lg{
            &::after {
                content: "";
                position: absolute;
                z-index: -1;
                background-color: transparent;
                bottom: 25px;
                right: -75px;
                height: 50px;
                width: 100px;
                border-top-right-radius: 25px;
                box-shadow: 0 -25px 0 0 rgba(7, 22, 36, 1);
                transform: scaleX(-1) rotate(90deg); /* Gira o elemento 90 graus e inverte horizontalmente */
    
            }
        }
        h1{
            width: 100% !important;
            font-family: "monument-extended";
            font-size: 25px;
            color: rgba(255, 255, 255, 1);
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            padding-top: 50px !important;
            @include lg{
                width: 300px !important;
                height: 117px !important;
                margin-bottom: 50px;
            }
        }
        a{
            width: 100%;
            padding: 15px 70px 15px 70px;
            font-family: "monument-extended";
            font-size: 10px;
            color: rgba(255, 255, 255, 1);
            text-decoration: none;
            background: rgba(0, 117, 255, 1);
            display: flex;
            justify-content: center;
            border-radius: 32px;
            box-shadow: 0px 22.07px 61.43px -19px rgba(57, 101, 255, 0.6);
            @include lg {
                width: 332px;
                font-size: 14px;
                transition: transform 0.5s; /* Corrigido para aplicar a transição */
                &:hover {
                    transform: scale(1.1); /* Corrigido para aplicar o scale no hover */
                }
            }
        }
    }
    .bloco02{
        width: 100%;
        margin-top: 20px;
        @include lg{
            width: 495px !important;
            height: 259px;
            margin-left: 453px;
            margin-top: -280px;
        }
    }
    .bloco03{
        width: 100% !important;
        height: auto;
        background-color: rgba(7, 22, 36, 1);
        border-radius: 20px;
        margin-top: 21px;
        display: flex;
        flex-wrap: wrap !important;
        gap: 15px;
        padding: 40px;
        @include lg{
            width: 950px !important;
            height: 500px;
            margin-top: 0;
            flex-wrap: nowrap !important;
            gap: 100px;
            border-radius: 0;
            border-top-right-radius: 31.9px;
            border-bottom-left-radius: 31.9px;
            border-bottom-right-radius: 31.9px;
        }
        .card{
            width: 100%;
            @include lg{
                width: 248px;
            }
            img{
                width: 127.59px;
                height: 44.87px;
            }
            h1{
                margin-top: 20px;
                margin-bottom: 20px;
                font-family: "monument-extended";
                font-size: 20px;
                color: rgba(255, 255, 255, 1);
            }
            p{
                font-family: "inter";
                font-size: 13px;
                color: rgba(165, 195, 255, 1);
            }
        }
    }
    .link{
        width: 100%;
        border-radius: 32px;
        margin-top: 15px;
        padding: 15px 70px 15px 70px;
        background: rgba(0, 117, 255, 1);
        box-shadow: 0px 22.07px 61.43px -19px rgba(57, 101, 255, 0.6);
        font-family: "monument-extended";
        font-size: 10px;
        text-align: center;
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
        transition: transform 0.5s; /* Corrigido para aplicar a transição */
        @include lg{
            width: 604px !important;
            margin-top: -25px;
            font-size: 14px;
            transition: transform 0.5s; /* Corrigido para aplicar a transição */
            &:hover {
                transform: scale(1.1); /* Corrigido para aplicar o scale no hover */
            }
        }
    }
}

.bloco-plataforma{
    width: 100%;
    height: auto;
    background-image: url('../images/Rectangle-259.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin-top: 100px;
    img{
        width: 100%;
        display: block;
        margin: 0 auto !important;
        @include lg{
            width: 700px;
        }
    }
    a{
        width: 100%;
        border-radius: 32px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 15px 70px 15px 70px;
        background: rgba(0, 117, 255, 1);
        box-shadow: 0px 22.07px 61.43px -19px rgba(57, 101, 255, 0.6);
        font-family: "monument-extended";
        font-size: 10px;
        text-align: center;
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
        @include lg{
            width: 682px;
            height: 45px;
            font-size: 14px;
            transition: transform 0.5s; /* Corrigido para aplicar a transição */
            &:hover {
                transform: scale(1.1); /* Corrigido para aplicar o scale no hover */
            }
        }
    }
}

.bloco-duvidas{
    margin-top: 50px;
    h1{
        text-align: center;
        font-family: "monument-extended";   
        font-size: 36px;
        color: rgba(255, 255, 255, 1);
    }
}
.bloco-details{
    details {
        border-radius: 120px;
        background-color: rgba(7, 22, 36, 1) !important;
        margin-bottom: 20px;
        transition: border-radius 0.1s ease, background-color 0.1s ease;
        summary {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            list-style: none !important;
            font-family: "Inter", sans-serif;
            font-size: 18px;
            color: rgba(255, 255, 255, 1);
            list-style: none !important; /* Remove o estilo da lista */
            &::marker {
                color: rgba(7, 22, 36, 1); 
            }
            &::-webkit-details-marker {
                color: rgba(7, 22, 36, 1); 
            }
            @media not all and (min-resolution: 0.001dpcm) {
                @supports (-webkit-appearance: none) {
                    &::-webkit-details-marker {
                        display: none; /* Oculta o ícone do summary no Safari */
                    }
              }
          }
          img {
            width: 50px;
          }
        }
        &[open] {
          border-radius: 30px !important;
        }
        p{
            font-family: "Inter", sans-serif;
            font-size: 14px;
            color: rgba(165, 195, 255, 1);
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 30px;
        }
      }
}