@font-face {
    font-family: 'monument-exetended';
    src: url('../fonts/MonumentExtended-Regular');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'monument-exetended';
    src: url('../fonts/MonumentExtended-UltraBold');
    font-weight: bold;
    font-display: swap;
}