@font-face {
    font-family: 'monument-extended';
    src: url('../fonts/monument-extended-medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Medium.otf') format('opentype');
    font-display: swap;
}